
<body class="m-6 p-5 ">
    <a href="/">Home</a> 
    <a href="/about/">About</a>
    <a href="/blog/">Blogger</a>
    <h1 class="bg-blue-400 text-white text-3xl text-center">This is my blog</h1>
    <p class="my-6">This is where I will post about my journey learning Astro</p>
</body>