---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Hi I'm plizzzed to you";
---
<BaseLayout pageTitle={pageTitle}>
	<h3>Welcome guys</h3>
	<h3>It's amazing to Sint incididunt fugiat nulla velit velit enim sunt.</h3>
	<p class="text-4xl w-full mt-4">Find inspiration!</p>
	<img class="rounded-lg mt-4"  src="http://unsplash.it/800/400?random&gravity=east" alt="">
</BaseLayout>
