---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Hi I'm plizzzed to you";
---
<BaseLayout pageTitle={pageTitle}>
	<!-- <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]}></Greeting> -->
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	<p class="text-4xl w-full mt-4">Find inspiration!</p>
	<img class="rounded-lg mt-4"  src="http://unsplash.it/800/400?random&gravity=east" alt="">
</BaseLayout>
