---
const {title, url, image} = Astro.props;
---
<div class="flex flex-col-reverse bg-white text-black text-xs p-1 rounded-sm"><h3 class="mt-1">{title}</h3><a class="hover:underline" href={url}><img class="object-cover" src={image} /></a></div>